body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lato', 'sans-serif';
    font-size: 1.2em;
    scroll-behavior: smooth;
}

#welcome-screen {
    position: fixed;
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#welcome-btns button{
    margin-bottom: 10px;;
    padding: 10px;
    width: 40%;
}

#main-div {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#welcome-screen {
    background: white;
    z-index: 4;
}

#sign-up-modal {
    position: fixed;
    display: none;
    width: 40%;
    background: lightgray;
    border-radius: 20px;
    padding:10px;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    z-index: 3;
    gap:15px;
}

#sign-up-modal h1 {
    align-self: center;
    padding-left: 10px;
    overflow: hidden;
}

#background {
    position:fixed;
    width: 100vw;
    height: 100vh;
    background: gray;
    z-index: 0;
}

#email-and-pass {
    margin: 0 auto;
    padding: 5px;
    overflow: auto;
}

#sign-in-modal {
    position: fixed;
    display: none;
    background: lightgray;
    border-radius: 20px;
    padding:10px;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    z-index: 3;
    gap:15px;
}

#sign-in-modal h1 {
    align-self: center;
}

#email-and-pass-in {
    padding: 5px;
}

.invalid-email {
    display: none;
    color: red;
    font-size: 0.7em;
}

.invalid-password {
    display: none;
    color: red;
    font-size: 0.7em;
}

.invalid-password-match {
    display: none;
    color: red;
    font-size: 0.7em;
}

.success-signup {
    color: green;
    font-size: 0.7em;
    overflow: auto;
}