body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lato', 'sans-serif';
    font-size: 1.2em;
    scroll-behavior: smooth;
    background-color: rgb(48, 48, 48);
}

#main-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#status-bar {
    position: fixed;
    width: 100vw;
    height: 6vh;
    max-height: 6vh;
    /* background: red; */
    margin-bottom: 15px;
}

#user-data {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    background: gray;
    text-align: center;
    border-bottom: solid;
    padding-right: 20px;
}

#logout-btn {
    text-decoration: none; color: black;
}

#logout-btn:hover {
    cursor: pointer;
}

#logout-btn:active {
    color:  rgb(208, 208, 208);
}


#messages-column {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    margin: 0 auto;
    margin-top: 7.5vh;
    padding-bottom: 7vh;
}

#message-elements {
    position:fixed;
    bottom: 0;
    width: 90vw;
    max-width: 1820px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    height: 5vh;
    justify-content: center;
    padding: 10px 4px;
    align-items: center;
    z-index: 1;
}

#send-btn{
    background: url('/assets/icons/send-icon.png') no-repeat;
    background-size: cover;
    background-color: #5CABFA;
    padding: 0;
    margin: 0;
    height: 35px;
    width: 35px;
    border: solid;
    border-radius: 5px;
    box-shadow: 0 0 15px;
}

#send-btn:hover {
    background-color: #84C2FF;
}

#sent-btn:active {
    background-color: #0784FF;
}

#message-input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px;
}

.past-message {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    width: auto;
    justify-content: left;
    padding: 2px 7px;
    margin-top: 6px;
    color: rgb(196, 196, 196);
    background: #676767;
    border-radius: 10px;
    text-align: left;
    overflow-wrap: break-word;
}

.small-text {
    font-size: 0.5em;
}

.hover-info {
    display: none;
}

.hover-info button {
    margin: 2px;
    background: #73C8F5;
    border-radius: 10px;
    border: solid #73C8F5;
}

.hover-info button:hover {
    cursor: pointer;
}

.hidden-input {
    display: none;
}
